@model IEnumerable<Shared.BTO.RestoBTO>
@{
    DateTime searchDate = DateTime.Now.Date;
    TimeSpan searchHour = DateTime.Now.TimeOfDay;

    //string searchDate = "";
}

<h1>Our famous restaurants!</h1>
<form asp-action="GetOpenRestaurantByDate">
    <div class="form-group">
        <label asp-for="@searchDate" class="control-label">Select a date and an hour to pick up your food reservation</label>
        <input asp-for="@searchDate" class="form-control" type="datetime-local">
        <span asp-validation-for="@searchDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        @*<input type="submit" name="dateTime" value="Search" class="btn btn-primary" />*@
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

@*<div class="form-group">
    <label asp-for="TimeOpen" class="control-label"></label>
    <input asp-for="TimeOpen" class="form-control" />
    <span asp-validation-for="TimeOpen" class="text-danger"></span>
</div>*@

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No Resto found</td></tr>
}
else
{
    <div class="card-columns">

        @*<table class="table table-condensed table-bordered" header header-content="Restos by city">*@
        @*<tr>
                <th>Resto Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>City</th>
                <th>Cuisines</th>
                <th>Action</th>
            </tr>*@
        @foreach (var item in Model)
        {
            <div class="card">
                @foreach (var picture in item.Pictures)
                {
                    @*i++;
                        var active = i == 1 ? "active" : "";
                        <div class="carousel-item @active">*@
                    <img src="@Html.DisplayFor(x => picture.Url)" class="card-img-top" alt="" />
                    @*</div>*@
                }
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.ShortDescription</p>
                    <p class="card-text"><small class="text-muted">@item.City</small></p>
                    <p class="card-columns">
                        <ul class="list-group list-group-flush">
                            @foreach (var cuisine in item.Cuisines.ToList())
                            {
                                <li class="list-group-item">
                                    @Html.DisplayFor(modelItem => cuisine.Name)
                                </li>
                            }
                        </ul>
                    </p>
                    <div class="card-link">
                        <form asp-action="RestaurantDetails" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">
                                See the details!
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        }
    </div>


}