@using System.Reflection
@model Shared.BTO.RestoBTO


@{
    ViewData["Title"] = "CreateRestaurant";


}

<link rel="stylesheet" href="~/css/checkbox.css" />

<h1>Create a new restaurant</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="CreateRestaurant" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (User.IsInRole("Administrators"))
            {
                <div class="form-group">
                    <label asp-for="UserManagerId" class="control-label"></label>
                    <input asp-for="UserManagerId" class="form-control" />
                    <span asp-validation-for="UserManagerId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <fieldset class="form-group">
                <div class="custom-checkbox">
                    <ul>
                        @for (var i = 0; i < Model.Cuisines.Count(); i++)
                        {
                            <li>
                                <input asp-for="@Model.Cuisines[i].Selected" checked="@Model.Cuisines[i].Selected" type="checkbox" />
                                <label asp-for="@Model.Cuisines[i].Selected">@Model.Cuisines[i].Name</label>
                                <input type="hidden" asp-for="@Model.Cuisines[i].Id" />
                                <input type="hidden" asp-for="@Model.Cuisines[i].Name" />
                                <input type="hidden" asp-for="@Model.Cuisines[i].Selected" />
                            </li>
                        }
                    </ul>
                </div>
            </fieldset>
            
            <div class="form-group">
                <input type="submit" value="Create this restaurant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Administrators"))
    {
        <a class="btn btn-sm btn-secondary" asp-action="GetAllRestaurantsAdmin">Back to List</a>
    }
    else
    {
        <a class="btn btn-sm btn-secondary" asp-action="GetRestaurantsByRestaurantManager">Back to List</a>
    }
</div>


