@model IEnumerable<Shared.BTO.RestoBTO>
@*@{
        ViewData["Title"] = "GetRestaurantsByRestaurantManager";
    }*@

<h1>All the restaurants: </h1>

<p>
    <a class="btn btn-sm btn-primary" asp-action="CreateRestaurant">Create New</a>
</p>
<table class="table table-condensed table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuisines)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    @*<tbody>*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @*@UserManager.GetUserAsync(User).Result.FirstName*@
                @Html.DisplayFor(modelItem => item.UserManager.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>*@
            <td>
                <ul class="list-group list-group-flush">
                    @foreach (var cuisine in item.Cuisines.ToList())
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(modelItem => cuisine.Name)

                        </li>
                    }
                </ul>
            </td>
            <td>
                <form asp-action="DeleteRestaurant" asp-route-id="@item.Id" method="post">
                    @*<a class="btn btn-sm btn-primary" asp-action="RestaurantDetails" asp-route-id="@item.Id">See the details</a>*@
                    <a class="btn btn-sm btn-primary" asp-action="EditRestaurant" asp-route-id="@item.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this restaurant?');">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    @*</tbody>*@
</table>