@model Shared.BTO.RestoBTO

@{
    ViewData["Title"] = "RestaurantDetails";
}

<link rel="stylesheet" href="~/css/carousel.css" />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<div class="col-sm-12">

    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            @for (int j = 0; j < Model.Pictures.Count; j++)
            {
                <li data-target="#demo" data-slide-to="@j">
                </li>
            }

        </ul>


        <div class="carousel-inner">
            @{int i = 0;}

            @foreach (var picture in Model.Pictures)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <img class="mx-auto d-block" src="@Html.DisplayFor(x => picture.Url)" alt="" style="width:640px;height:360px" />
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cuisines)
        </dt>

        <dd class="col-sm-10">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                <div class="btn-group mr-2" role="group">
                    @foreach (var cuisine in Model.Cuisines.ToList())
                    {
                        <a class="btn btn-secondary" asp-action="GetRestaurantByCuisine" asp-route-id="@cuisine.Id">
                            @cuisine.Name
                        </a>
                    }
                </div>
            </div>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedules)
        </dt>
        <dd class="col-sm-10">
            <div class="border">
                @{
                    var daysOfWeek = Enum.GetValues(typeof(DayOfWeek))
                                            .OfType<DayOfWeek>()
                                            .OrderBy(day => day < DayOfWeek.Monday);
                }
                <ul class="nav nav-pills mb-3">

                    @*<ul class="nav nav-pills nav-stacked flex-column col-3">*@
                    @foreach (var day in daysOfWeek)
                    {

                        @*<li>
                                <a data-toggle="pill" href="#@day" class="btn btn-primary btn-lg w-50">
                                    @day
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a data-toggle="pill" href="#@day" class="nav-link">
                                @day
                            </a>
                        </li>

                    }
                </ul>

                <div class="tab-content col-9">
                    @foreach (var day in daysOfWeek)
                    {
                        <div id="@day" class="tab-pane fade">
                            <h3>@day</h3>
                            @foreach (var schedule in Model.Schedules)
                            {
                                if (day == (DayOfWeek)schedule.WeekDay)
                                {
                                    <p>@schedule.TimeOpen.TimeOfDay ,  @schedule.TimeClosed.TimeOfDay</p>
                                }
                            }
                        </div>
                    }

                </div>

            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealTypes)
        </dt>
        <dd class="col-sm-10">
            <div class="row">
                <ul class="nav nav-pills nav-stacked flex-column col-3">
                    @foreach (var mealType in Model.MealTypes.ToList())
                    {
                        <li class="nav-item">
                            <a data-toggle="pill" href="#@mealType.Name.Replace(" ", "")" class="nav-link">
                                @mealType.Name
                            </a>
                        </li>
                    }
                </ul>
                <div class="tab-content col-9">
                    @foreach (var mealType in Model.MealTypes.ToList())
                    {
                        <div id="@mealType.Name.Replace(" ", "")" class="tab-pane fade">
                            @foreach (var meal in mealType.Meals)
                            {
                                <div class="list-group-item">
                                    <h6>@Html.DisplayFor(modelItem => meal.Name)</h6>
                                    <p>@Html.DisplayFor(modelItem => meal.Description)</p>
                                    <span>@Html.DisplayFor(modelItem => meal.Price)</span>

                                    <form id="@meal.Id" asp-action="AddMealToBasket" asp-controller="Basket" method="post">
                                        <input type="hidden" name="MealId" value="@meal.Id" />
                                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                        <span class="card-text p-1">
                                            <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                                                Add To Cart
                                            </button>
                                        </span>
                                    </form>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-secondary" asp-action="GetAllRestaurants">Back to List</a>
</div>

<script>
    var myFunction = function (shoppingCart) {
        window.localStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
    }
</script>