@model IEnumerable<Shared.BTO.MealTypeBTO>

@{
    ViewData["Title"] = "Meal Type(s) of your restaurant : ";
}

    <h1>Meal Type(s) of your restaurant : </h1>

<p>
    <a class="btn btn-sm btn-primary" asp-action="CreateMealType" asp-route-id="@ViewData["RestoId"]">Create New</a>
</p>
<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Management
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <div class="btn-group-vertical btn-group-sm w-100">
            <a class="btn btn-success" asp-controller="Meal" asp-action="GetAllMealsByMealTypeId" asp-route-id="@item.Id">
                Manage meals
            </a>
        </div>
    </td>
    <td>
        <form asp-action="DeleteMealType" asp-route-id="@item.Id" method="post">
            <a class="btn btn-sm btn-primary" asp-action="EditMealType" asp-route-id="@item.Id">Edit</a>
            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Do you really want to delete this meal type?');">
                Delete
            </button>
        </form>
    </td>
</tr>
}
</table>
<div>
    <a class="btn btn-sm btn-secondary" asp-controller="Restaurant" asp-action="GetRestaurantsByRestaurantManager" asp-route-id="@User.Identity">Back to your restaurant</a>
</div>