@model List<Shared.BTO.BasketBTO>

@{
    ViewData["Title"] = "Orders for your restaurant :";
}
<h1>Orders for your restaurant :</h1>

<ul class="list-group">
    @foreach (var basket in Model)
    {
    <li class="list-group-item">

        <h5>
            User :  @basket.User.FirstName
        </h5>
        <h5>
            Arrival date in restaurant :  @basket.ArrivalDate
        </h5>

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => basket.ShoppingMeals.ToList()[0].Meal.MealType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => basket.ShoppingMeals.ToList()[0].Meal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => basket.ShoppingMeals.ToList()[0].Quantity)
                    </th>
                </tr>
            </thead>
            @foreach (var shoppingMeal in basket.ShoppingMeals)
            {
                <tbody>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => shoppingMeal.Meal.MealType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => shoppingMeal.Meal.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => shoppingMeal.Quantity)
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </li>
    }
</ul>

<div>
    <a class="btn btn-sm btn-secondary" asp-controller="Restaurant" asp-action="GetRestaurantsByRestaurantManager" asp-route-id="@User.Identity">Back to your restaurant</a>
</div>