@model WebApplication1.ViewModel.BasketUCIndexViewModel

@{
    Layout = null;
}

@{
    DateTime ArrivalDate = DateTime.Now.Date;
}
<div class="text-center">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Meal</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model.basketUC.shoppingMeals)
            {
                <tr>

                    <td class="text-center">@meal.Quantity</td>
                    <td class="text-left">@meal.Meal.Name</td>
                    <td class="text-right">@meal.Meal.Price.ToString("c")</td>
                    <td class="text-right">
                        @((meal.Quantity * meal.Meal.Price).ToString("c"))
                    </td>
                    <td>

                        <form asp-action="RemoveMealFromBasket" method="post">
                            <input type="hidden" name="MealId"
                                   value="@meal.MealId" />
                            <button type="submit" class="btn btn-sm btn-danger ">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.basketUC.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <form asp-action="CreateBasket">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@ArrivalDate" class="control-label">When do you want order your food?</label>
            <input asp-for="@ArrivalDate" class="form-control" type="datetime-local">
            <span asp-validation-for="@ArrivalDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" name="viewModel" value="Complete your order" class="btn btn-primary" />
        </div>
    </form>
</div>

